* {
  background-color: aquamarine;
}

p.str2666:before {
  content: "\2666";
  color: red;
}
p.str2665:before {
  content: "\2665";
  color: red;
}

a.button {
  font-weight: 700;
  color: black;
  text-decoration: none;
  padding: 10px 50px;
  border-radius: 50px;
  border-style: double;
  border-color: white;
  background: rgb(212, 57, 129);
}

a.button:hover {
  background: rgb(154, 29, 204);
}
a.button:active {
  background: rgb(85, 12, 79);
  box-shadow: 0 3px rgb(33, 147, 90) inset;
}
